@font-face {font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
}

.iconfont{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-text-stroke-width: 0.2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nav-icon1:before {
	content: "\21";
}
.nav-icon2:before {
	content: "\22";
}
.nav-icon3:before {
	content: "\23";
}
.nav-icon4:before {
	content: "\24";
}
.nav-icon5:before {
	content: "\25";
}
.nav-icon6:before {
	content: "\26";
}
.nav-icon7:before {
	content: "\27";
}
.nav-icon8:before {
	content: "\28";
}
.nav-icon9:before {
	content: "\29";
}
.nav-icon10:before {
	content: "\2a";
}
.nav-icon11:before {
	content: "\2b";
}
.nav-icon12:before {
	content: "\2c";
}
.nav-icon13:before {
	content: "\2d";
}
.nav-icon14:before {
	content: "\2e";
}
.nav-icon15:before {
	content: "\2f";
}
.nav-icon16:before {
	content: "\30";
}
.nav-icon17:before {
	content: "\31";
}
.nav-icon18:before {
	content: "\32";
}
.nav-icon19:before {
	content: "\33";
}
.nav-icon20:before {
	content: "\34";
}
.nav-icon21:before {
	content: "\35";
}
.nav-icon22:before {
	content: "\36";
}
.nav-icon23:before {
	content: "\37";
}
.nav-icon24:before {
	content: "\38";
}
.nav-icon25:before {
	content: "\39";
}
.nav-icon26:before {
	content: "\3a";
}
.nav-icon27:before {
	content: "\3b";
}
.nav-icon28:before {
	content: "\3c";
}