html,body{height:100%;}
.invisible{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);padding:0;border:0;height:1px;width:1px;}
html{font-size:62.5%; min-width: 1000px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}
body{font:12px/1.5 tahoma,arial,\5b8b\4f53;color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-family: 'Microsoft YaHei',SimHei; font-weight: 500;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
img,iframe{border:0;}
a{text-decoration:none;background:transparent;}
label{cursor:pointer;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select,button{font-family:inherit;font-size:100%;}
input[type="button"],input[type="submit"],select,button{cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="text"]::-ms-clear,input[type="password"]::-ms-clear{display:none;}
textarea{overflow-y:auto;vertical-align:top;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
.clearfix:before,.clearfix:after{content:".";display:block;height:0;font-size:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.ll{float:left;}
.rr{float:right;}
.s-red{ color: #e33244;}
.s-green{ color: #00a73c;}
.s-orange{ color: #f60;}
.s-grey{ color: #ccc;}
.s-blue{ color: #49a8e7;}
.select-unsearch{ display: inline-block;}
.select-unsearch .searchable-select-input{ display: none;}

/*================================== 按钮 ==================================*/
.btn{ display:inline-block; padding:4px 12px; margin-bottom:0; font-size:14px; font-weight:normal; line-height:1.428571429; text-align:center; white-space:nowrap; vertical-align:middle; cursor:pointer; border:1px solid transparent; border-radius:4px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;box-sizing:content-box;}
.btn:focus{ outline:thin dotted #333; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px}
.btn:hover,.btn:focus{color:#333;text-decoration:none}
.btn:active,.btn.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
/* 灰色 */
.btn-default{color:#333;background-color:#fff;border-color:#ccc}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{color:#333;background-color:#ebebeb;border-color:#adadad}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{background-image:none}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}
/* 红色 */
.btn-primary{color:#fff;background-color:#38f;border-color:#38f}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{color:#fff;background-color:#38f;border-color:#38f}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active{background-color:#ff503f;border-color:#e60b11}
/* 绿色 */
.btn-success{color:#fff;background-color:#5bb85c;border-color:#4cae4c}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{color:#fff;background-color:#47a447;border-color:#398439}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{background-image:none}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active{background-color:#5bb85c;border-color:#4cae4c}

/* 表单 */
.form-control { height: 18px; padding: 5px 12px; font-size: 14px; line-height: 18px; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.form-control::-moz-placeholder { color: #999; opacity: 1;}
.form-control:-ms-input-placeholder { color: #999;}
.form-control::-webkit-input-placeholder { color: #999;}
.form-small{width: 50px;}
.ipZone .form-control{width: 50px;}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control { background-color: #eee; opacity: 1;}
.form-control[disabled],
fieldset[disabled] .form-control { cursor: not-allowed;}
textarea.form-control { height: auto;}

/*================================== 导航 ==================================*/
.wrapper{ height:100%;}
.wrapper aside{ height:100%; position:fixed; z-index:99; top:60px; left:0; width:85px; background:url(../images/aside_bg.png) repeat left top; border-right:1px solid #dbdbdb;}
.wrapper aside a{ color:#797577;}

/*================================== 头部 ==================================*/
.wrapper .main{ height:100%;}
.wrapper .home{ background:#e1e5e9;}

/*================================== 内容 ==================================*/
.main-container{ min-width:620px; overflow:hidden; height:100%;}


/* 开关 */
.switch { display: inline-block; width: 40px; padding: 2px; border: 1px solid #a8adb2; border-radius: 20px; cursor: pointer; background-color: #c5cbd1; line-height: 15px;}
.switch s { text-decoration: none; font-size: 12px; color: #666; line-height:12px; position: relative;}
.switch s:after { content: "OFF"; font-size: 12px; color: #fff; float: left; margin-left: 3px;}
.switch b { display: block; width: 12px; height: 12px; border-radius: 12px; background: #fff; float: right;}

/* 数据报表 */
.data-report{ background-color: #fff; margin:13px; border:1px solid #dbdbdb;}
.data-report .hd{ height: 50px; line-height: 50px; padding: 0 20px; position: relative;}
.data-report .hd span{ margin-right:15px; color:#666;}
.data-report .hd span a{ color: #337ab7; font-weight: bold;}
.data-report .hd h3{ font-size: 18px; height: 75px; line-height: 75px; float: left;}
.data-report .hd .list-screen{ float: right;}
.data-report .hd .list-screen .dropdown{ height: 55px; float: left; margin: 0 10px;}
.data-report .bd tr{ border-top: 1px solid #ddd;}
.data-report .bd thead tr{ border-top: 0;}
.data-report .bd thead tr span{ font-size:12px;}
.data-report .bd thead tr select{ border:0; background: none; height: 35px; outline: none;}
.data-report .bd tr th, .data-report .bd tr td{ text-align: center; font-size: 12px; padding: 8px 5px; font-family:"微软雅黑";}
.data-report .bd tr th{ background-color: #f7f7f7; color: #6b6b6b;}
.data-report .bd tbody{ border-bottom: 1px solid #ddd;}
.data-report .bd tbody tr td{background:#fff; border-right: 1px solid #ddd; white-space: nowrap; }
.data-report .bd tr td:last-child{ border-right: 0;}
.data-report .bd tbody tr td a{ color: #337ab7;}
.data-report .bd tbody tr:nth-child(even) td{background:#f7f7f7;}
.data-report .bd tbody > tr:hover > td{background:#eee;}
.data-report .bd tbody tr td .iconfont{ font-size: 15px; color: #6b6b6b;}
.ty-effect .hd{ margin:13px 13px 0 13px;}
/* 分页 */
.data-report .bd tfoot td .page{ float: right; padding-right: 30px; color: #444;}
.data-report .bd tfoot td span{ cursor: default; background-color: #fff; color: #999; float: left;padding:2px 8px;}
.data-report .bd tfoot td .page a{display:inline;position:relative;float:left;padding:1px 7px;margin:0 2px;color:#6b6b6b;text-decoration:none;background-color:#f9f9f9;border:1px solid #c2c2c2; outline: none; cursor: pointer; border-radius: 3px; overflow: hidden;}
.data-report .bd tfoot td .page a:hover{color:#fff;text-decoration:none;background-color:#606060;border-color:#3a3a3a;}
.data-report .bd tfoot td .page a.current{z-index:2;color:#fff;cursor:default;background-color:#606060;border-color:#3a3a3a;}
.data-report .bd tfoot td .btn{ float: right; padding: 4px 10px;}
.data-report .bd tfoot td .page a i{ font-style: normal; font-size: 26px; font-family: "微软雅黑"; line-height: 12px; vertical-align: text-top;}

/* 面包屑导航 */
.crumb-nav{ margin: 20px 20px 0; font-family: "宋体"}
.crumb-nav a{ color:#49a8e7;}


/* 创意 */
.pic{text-align:center; position:relative; display:table-cell; vertical-align:middle;}
.pic .subpic{*position:absolute; top:50%; left:50%; }
.pic .subpic img{*position:relative; top:-50%; left:-50%; vertical-align: middle;}

.data-report .bd tbody tr td .pic{ width: 90px;height: 90px;}
.data-report .bd tbody tr td .pic .subpic img{ max-width: 80px; max-height: 80px;}

/* 单元 */
.add-unit{ width: 70%;}
.add-unit .hd{ padding: 12px 0; height: auto;}
.add-unit .bd{ padding: 10px 0;}
.add-unit .bd li{ padding: 5px 0;}
.add-unit .bd li:after { clear:both; content:' '; display:block; font-size:0px; line-height:0px; visibility:hidden; width:0px; height:0px; }
.add-unit .bd .p-l-t { width: 100px; display: inline-block; float: left; text-align: right; line-height: 34px;}
.add-unit .bd .p-r-c{ display: inline-block; float: left; width: 80%; line-height: 34px;}
.add-unit .bd .p-r-c a{ color:#ff503f;}
.add-unit .bd .form-control{ width: 310px; display: inline-block;}
.add-unit .bd .form-control.date{ width: 135px; height: 20px; line-height: 20px; text-align: left; background: url(../images/date_icon.gif) no-repeat right center #fff; display: inline-block;}
.add-unit .bd label{ display: inline-block;}
.add-unit .bd label input[type=radio]{ width: 15px; height: 15px; margin: 2px 3px 0 0; vertical-align: text-top;}
.add-unit .bd .p-r-c label a{ width: 12px; height: 12px; display: inline-block; border: 1px solid #ccc; color: #ccc; border-radius: 100%; line-height: 12px; text-align: center; font-family: "黑体"; margin-left: 3px; padding: 0;}
.add-unit .bd .p-r-c .file { position: relative; display: inline-block; overflow: hidden; text-decoration: none; text-indent: 0; margin: 0; color: #fff;}
.add-unit .bd .p-r-c .file input { position: absolute; font-size: 100px; right: 0; top: 0; opacity: 0;}
.add-unit .bd .p-r-c .plan-select-box{ width: 340px; float: left;}
.add-unit .bd .p-r-c .plan-select-box .searchable-select{ width: 336px;}

.add-plan .success-info{ background: url(../images/success_icon.png) no-repeat left center; padding: 10px 0 10px 50px; margin-bottom: 30px; font-size: 24px; color: #ff503f; display: inline-block;}
/* TIPS */
.tipso_bubble,.tipso_bubble>.tipso_arrow{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tipso_bubble{position:absolute;border-radius:6px;z-index:9999;padding:10px}
.tipso_style{cursor:help;border-bottom:1px dotted}
.tipso_bubble>.tipso_arrow{position:absolute;width:0;height:0;border:8px solid;pointer-events:none}
.tipso_bubble.top>.tipso_arrow{border-color:#000 transparent transparent;top:100%;left:50%;margin-left:-8px}

/*  */
tbody tr .details-control{ padding: 12px 0; width: 35px;}
tbody tr .details-control span{line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle; cursor: pointer;outline:none;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url(../images/zTreeStandard.png);}
tbody tr.shown td{ background-color: #ededed;}
tbody tr.shown .details-control span{ background-position:-18px 0}

/* 查看原图 */
#TB_closeWindowButton{ background-image: url(../images/i_delete.png); _background-image: url(../images/i_delete_ie.png); background-size: 100%; width: 25px; height: 25px; display: inline-block; position:absolute; top: -10px; right: -10px; cursor: pointer;}
#TB_overlay{ position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%;background: rgba(0,0,0,.75);}
#TB_window { position: fixed; background: #fff; z-index: 102; color:#000; display:none; border: 4px solid #525252; text-align:left; top:50%; left:50%;}
#TB_window img#TB_Image { display:block; margin: 15px;}
.TB_overlayBG {	background-color:#000; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75;}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
